<% @listings.each do |listing| %>
  <div>
    <% if current_user.id == listing.user_id %>
      <%= listing.title %>
      <%= listing.description %>
      <%= listing.breed.name %>
      <%= listing.sex %>
      <%= listing.price %>
      <%= listing.deposit %>
      <%= listing.city %>
      <%= listing.state %>
      <%= listing.date_of_birth %>
      <%= listing.diet %>
      <%= link_to "Edit", edit_listing_path( listing ) if current_user.id == listing.user_id %>
      <%= link_to "Destroy", listing_path(listing), method: :delete, data: {confirm:"are you sure?"} if current_user.id == listing.user_id %>
    <% end %>
  </div>
<% end %>
